body{
    font-family: Arial;
    max-width:700px;
    margin:auto;
}

#chatBox{
    border:1px solid #ccc;
    height:250px;
    overflow-y:auto;
    padding:10px;
}

.user{
    text-align:right;
    margin:5px;
}

.ai{
    text-align:left;
    margin:5px;
}

.note{
    background:#f3f3f3;
    padding:8px;
    margin:5px 0;
}
.ai-panel{
position:fixed;
right:15px;
bottom:15px;
width:320px;
height:420px;
background:#ffffff;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,.15);
display:flex;
flex-direction:column;
overflow:hidden;
z-index:999;
}

.ai-title{
background:#2c7be5;
color:white;
padding:10px;
font-weight:bold;
}

.ai-chat{
flex:1;
padding:10px;
overflow-y:auto;
font-size:14px;
}

.ai-input{
display:flex;
border-top:1px solid #ddd;
}

.ai-input input{
flex:1;
border:none;
padding:10px;
outline:none;
}

.ai-input button{
background:#2c7be5;
color:white;
border:none;
width:70px;
cursor:pointer;
}