body{
    font-family: Arial;
    max-width:700px;
    margin:auto;
}

#chatBox{
    border:1px solid #ccc;
    height:250px;
    overflow-y:auto;
    padding:10px;
}

.user{
    text-align:right;
    margin:5px;
}

.ai{
    text-align:left;
    margin:5px;
}

.note{
    background:#f3f3f3;
    padding:8px;
    margin:5px 0;
}